.footer {
    background-color: salmon;
    width: auto;
    height: 350px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    border: 2px solid silver;
    section {
        margin-bottom: 15px;
    }
}

.footer-repo {
    margin-top: 50px;
    text-decoration: none;
}
.footer-repo a {
    text-decoration: none;
}
.footer-repo a h1 {
    width: 166px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 3px;
    background-color: salmon;
    color: rgb(0, 0, 0);

}


.footer-mern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
        font-family: 'Roboto', sans-serif;
    }
}

.footer-mern div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;

    i {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        font-size: 25px;
    }
    label {
        font-size: 25px;
        margin-right: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Big Shoulders Display', cursive;
    }
}

.footer-personal {
    display: flex;
    flex-direction: row;
    h1 {
        font-size: 20px;
        color: rgb(53, 51, 51);
        margin-right: 50px;
        margin-bottom: 15px;
        margin-top: 5px;
    }
}

.footer-personal div {
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;
        font-size: 15px;
        color: black;
    }
    
}

.footer-personal div a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}