
.grocery {
    margin: 50px;

    h1 {
        padding: 5px 0px; 
        background-color: white;
        border-radius: 7px;
        width: 100%;
        padding-left: 13px;
        box-shadow: 0px 1px 4px;
        font-family: 'Big Shoulders Display', cursive;
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 600;
        
        // transform: rotate(2deg);
    }
}

.list {
    margin-top: 25px;
    padding: 5px 0px; 
    // background-color: white;
    background-color: rgb(125, 204, 211);
    border-radius: 7px;
    width: 100%;
    padding-left: 13px;
    // box-shadow: 0px 5px 0px;
    box-shadow: 0px 1px 4px;
    transform: rotate(2deg);
    overflow-y: scroll;
    max-height: 700px;
}

.list-item {
    display: flex;
    align-items: center;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    // background: linear-gradient(358deg, #7dccd3ab 50%, #ffffff 50%);\
    // border-bottom: black 1px dotted;

    // padding: 5px 0px; 
    // background-color: white;
    // border-radius: 7px;
    // width: 100%;
    // padding-left: 13px;
    // // box-shadow: 0px 5px 0px;
    // box-shadow: 0px 1px 4px;
    // transform: rotate(2deg);

    p {
        margin: 5px 4px;
    }

    // p:hover {
    //     border-bottom: black 1px dotted;
    // }

    i {
        color: rgba(255, 255, 255, 0.281);
        padding: 0px 5px;
        // display: none;
    }

    i:hover {
        color: rgb(255, 255, 255);
    }
}

