.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.recipe-modal {
  font-family: 'Big Shoulders Display', cursive;
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 3px;
  border-top: 1px solid black;
  // height: 500px;
  // width: 800px;
  height: 370px;
  width: 556px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0 0px 50px rgba(0,0,0,0.2);
  // padding: 20px 0px 20px 20px;
}



.recipe-show {
  display: flex;
  justify-content: space-between;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 20px;
  // overflow: hidden;

  .grocery-list {
    // margin: 0px 100px 0px 30px;
    min-width: 60%;
    justify-content: space-around;

    h3 {
      font-size: 23px;
      text-decoration: underline;
      margin-bottom: 10px;
     
    }

    .buttons {
      display: flex;
    
    }
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 30px;
      padding: 10px;
    }

    img {
      height: auto;
      width: auto;
    }

    button {
      margin: 15px;
    }

  }
}



