html {
    background-color: rgba(226, 226, 226, 0.692);
}

.index-container {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-top: 50px;
    margin-left: 30px;
    // align-items: center;

    .blurb {
        // margin-left: 120px;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        margin-left: 30px;
    }


    .search-results{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // grid-template-columns: auto auto auto;
    }

    

    
}

.card {
    width: 312px;
    margin: 30px 30px;
    // box-shadow: 0px 0px 10px black;
    // border-right: rgb(158, 158, 158) 3px solid;
    // border-bottom: rgb(158, 158, 158) 3px solid;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: rgb(59, 59, 59);
    
    // font-family: 'Big Shoulders Display', cursive;
    // background-image: linear-gradient( #7dccd3, white);

    .details {
        padding: 10px;
        display: table;
        justify-content: center;
        align-items: center;

        h1 {
            // display: table-cell;
            display: flex;
            vertical-align: center;
            text-align: center;
        }
    }

    img {
        border-radius: 20px;
    }
    a {
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        color: rgb(59, 59, 59);

    }
    i {
        color: rgb(255, 89, 89);
    }
}

.card:hover {
    box-shadow: 2px 12px 24px gray;
    // box-shadow: 0 15px 24px rgba(0,0,0,0.11);
    transform: translateY(-10px) scale(1.025) translateZ(0);
    cursor: pointer;
    
}
