

.sidebar-parent {
    
    // background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;

    // transform: translateX(-172%);
    transform: translateX(-86%);
    transition: transform 0.8s ease-in;
    // position: absolute;
    
    // box-shadow: 20px 18px 33px grey;
    // box-shadow: 2px 6px 10px grey;
    
    
    .welcome {
        display: flex;
        border: 2px lightgrey solid;;
        height: 185px;
        border-bottom: 6px silver solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        align-items: center;
        justify-content: center;
        font-family: 'Fugaz One', cursive;
        font-size: 25px;
        background-color: white;
        width: 400px;
        color: #000000;
        text-shadow: 2px 0px 0px #c2c2c2, 2px 1px #afa7a7;

    }

    span {
        width: 98%;
        height: 3px;
        background-color: black;
        margin-left: 5px;
    }
}

.sidebar-body {
    width: 400px;
    border: 2px lightgrey solid;
    border-top: 6px silver solid;
    min-height: 600px;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(125, 204, 211);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Big Shoulders Display', cursive;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    // padding-right: 43px;
    padding-top: 15px;

    .submit {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-top: 20px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        padding: 5px 0px; 
        background-color: silver;
        border-radius: 7px;
        width: 100%;
        padding-left: 13px;
        box-shadow: 0px 2px 0px black;
        border: none;
    }

    .submit:hover{
        cursor: pointer;
        // transform: scale(1.02);
        background-color: rgb(214, 213, 213);
    }

    .submit:focus {
        outline: none;
    }

    div {
        margin-bottom: 20px;
        // width: 50%;
    }
    
    food-group:first-child {
        padding: 7px;
    }

    .food-group:nth-child(3) {
        transform: rotate(-4deg);
        padding-bottom: 5px;
        width: 110%;
    }

    
    .food-group section {
        display: flex;
        flex-direction: column;
        padding: 5px 0px; 
        background-color: white;
        border-radius: 7px;
        width: 100%;
        padding-left: 13px;
        // box-shadow: 0px 5px 0px;
        box-shadow: 0px 1px 4px;
        transform: rotate(2deg);

        // input {
        //     // display: none;
        // }


        h3 {
            margin: 3px;
        }
        
        
        label {
            display: inline-block;
            margin-left: 25px;
            // background-color: white;
        }

        
    }
    
    
}

// label + input[type=checkbox]:checked {
//     text-decoration: line-through;
//     // width: 500px;
// }

.sidebar-parent-active {
    // transform: translateX(-87%);
    transform: translateX(-0%);
}